<nav>
  <!-- Exercise 2 -->
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <!-- End of Exercise 2 -->

  <!-- Exercise 3 -->
  <a href="/menu/mains">Mains</a>
  <a href="/menu/desserts">Desserts</a>
  <a href="/menu/sides">Sides</a>
  <!-- End of Exercise 3 -->
</nav>
